.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.heading {
  font-style: italic;
}
ul {
  list-style-type: none;
}
li {
  margin: 2px;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;

}
.grid-child {
  border: 1px solid #4db6ac;
  padding: 20px;
  border-radius:40px ;
}

.news-image {
 width: 100%
}

.news-title {
  font-size: 25px ;
  font-weight: 500;
}
.news-content {
  font-size: 18px;
}
.news-author {
  font-style: italic;
  font-size: 16px ;
}
.news-date {
  font-style: italic;
  font-size: 16px ;
}
.space-btwn {
  display: flex;
  justify-content: space-between;
}
.select {
  padding: 25px
}
.select-box {
  width: 300px;
  margin-left: 10px;
  height: 30px;
  border: 1px solid #4db6ac;
  outline: none;
}

